:root {
  --primary: #007AFF;
  --light-btn-bg: #F8F2E5;
  --white: #fff;
  --black: #000;
  --brown-btn: #DCC07C;
  --light-green: #8B9373;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

.logo-img {
  width: 60%;
  margin: auto;
  margin-top: 100px;
}


.required-star {
  color: red;
  margin-left: 4px;
}


/* input:focus {
  border: 1px solid var(--black);
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); 
} */

.form-control:focus {
  border: 1px solid var(--black);
  outline: none;
  box-shadow: none;
}

.existing-customer {
  padding: 12px 10px;
  text-align: center;
  background-color: var(--light-btn-bg);
  color: black;
  width: 350px;
  font-weight: 600;
}

.existing-customer:hover {
  background-color: var(--light-btn-bg);
}


.new-waiver {
  padding: 12px 10px;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  width: 350px;
  font-weight: 600;
}

.new-waiver:hover {
  background-color: var(--primary);
  color: var(--white);
}

.logo {
  width: 80%;
  margin: auto;
}

.mobile-number {
  padding: 12px 10px;
  background-color: var(--light-btn-bg);
  width: 65%;
  border-left: 0 !important; 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid rgb(204, 204, 204);
}

.otp-number {
  padding: 12px 10px;
  background-color: var(--light-btn-bg);
  text-align: center;
  width: 65%;
  border-radius: 10px; 
  border: 1px solid rgb(204, 204, 204);
} 

.pin-inputs .btn.dropdown-toggle {
  background-color: var(--light-btn-bg);
}

.pin-inputs .btn.dropdown-toggle.show {
  background-color: var(--white);
}

#custom-pininput {
  font-size: 25px;
  font-weight: 700;
  border: 0;
  letter-spacing: 3px;
  margin: 10px auto 18px auto;
}

.mobile-number h4 {
  font-weight: 700;
}

.step-two {
  /* width: 45%; */
  width: 61%;
  margin: auto;
}

.step-two p {
  font-weight: 700;
}

.step-two H5 {
  font-weight: 700;
}

.numbers {
  /* width: 70px;
    height: 70px; */
  flex: 1 1 calc(30% - 1rem);
  /* 4 items per row on large screens */
  max-width: calc(30% - 1rem);
  border: 2px solid;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 22px;

}

.back-btn {
  margin-top: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.back-btn img {
  width: 15%;
}

.back-btn a img {
  width: 22%;
}


.back-btn a {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);

}


/* three step start  */

.pin-box:focus {
  outline: none;
}

/* .custom-pininput {
   font-size: 23px;
  letter-spacing: 8px;
  font-weight: 700;
} */

#pinInput {
  font-size: 20px;
  letter-spacing: 12px;
  /* <-- This adds space between characters */
  /* Keeps spacing even */
  margin: 20px auto 5px auto;
  border: 0;
}


/* .step-three {
    width: 50%;
  } */


/* three step end  */



.info-table table td {
  border: 2px solid;
  padding: 10px 10px;
  font-weight: 500;
}

.info-table table tr td input {
  border: 1px solid var(--white);
}

.info-table table tr td .form-control:focus {
  border-bottom: 1px solid #000;
  /* darker border on focus */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  /* max-width: 1000px; */
  font-weight: 500;
}

td,
th {
  border: 2px solid #333;
  padding: 10px;
  text-align: left;
}

.minor-section {
  max-width: 1000px;
  margin: 40px auto;
}

.minor-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.custom-radio {
  width: 20px;
  height: 20px;
}


.minor-section .radio {
  width: 24px;
  height: 24px;
}




.input-static {
  flex: 1;
  background: #eaeaea;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
}

.minor-section .buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.minor-section .btn {
  padding: 14px 30px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 30%;
  font-weight: 600;
}



.minor-section .btn:hover {
  background: #0056b3;
}

.or-text {
  margin: 0 10px;
  font-weight: bold;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule-images img {
  width: 70%;
}

.rule-images h5 {
  font-weight: 700;
  margin: 10px 0 10px 0;
}

.list-style ul {
  text-align: center;
  margin: auto;

}

.list-style ul li {
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: #222222;
}

.h5-heading {
  font-weight: 700;
}


.confirm-btn {
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  padding: 12px 10px;
  width: 25%;
  border-radius: 10px;
  border: 1px solid var(--primary);
  margin: 20px auto;
  font-weight: 600;
}


.paragraph-heading {
  font-weight: 700;
}

.input-section input {
  width: 100%;
  padding: 12px 10px;
}

.add-minor {
  font-weight: 700;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 10px;
  padding: 12px 10px;
  border: 0;
  width: 100%;
}

.confirm-box {
  margin: auto;
  text-align: center;
}

.signature-section {
  padding: 15px 10px;
  background-color: #FAFAFC;
  margin: 30px auto 50px auto;
  border-radius: 5px;
}

#signature-pad {
  border: 2px dotted #CCCCCC;
  cursor: crosshair;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--white);
  height: 160px;
}

/* .sig-canvas textarea {
    border: 2px dotted #CCCCCC;
    cursor: crosshair;
    padding: 10px;
    border-radius: 10px;
} */

.signature-clear {
  color: gray;
  cursor: pointer;
  font-size: 15px;
}



.custom-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
  justify-content: center;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.custom-checkbox:checked {
  /* background-color: black;
      border-color: black; */
  color: var(--black);
}

.custom-checkbox:checked::after {
  content: "✔";
  /* color: white; */
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
}

.custom-checkbox-label {
  font-weight: 600;
  font-size: 14px;
}

.accept-and-continue {
  padding: 12px 10px;
  border: 0;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary);
  width: 100%;
  border-radius: 7px;
  font-size: 17px;
}

.return-btn {
  padding: 12px 10px;
  border: 0;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary);
  width: 40%;
  border-radius: 7px;
  font-size: 17px;
  margin: 40px auto;
}


/* home screen style start  */


.navbar-toggler {
  color: #fff;
  position: absolute;
  right: 29px;
  top: 20px;
}

#navbarNavDropdown {
  background: var(--black);
  z-index: 9999;
  position: relative;
  width: 100%;

}





.container-header {
  background-color: var(--black);
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}



.header {
  padding: 5px;
  background-color: var(--black);
  height: 90px;


}

.header .logo img {
  width: 200px;
  height: 80px;
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
}

.nav-link.active {
  background-color: var(--brown-btn);
  padding: 5px;
  border-radius: 5px;
  color: var(--black);
}


.search-name input {
  border-radius: 50px;
  padding: 12px 10px;
}



.details-btn {
  border-radius: 10px;
  border: 0;
  background-color: var(--brown-btn);
  font-weight: 700;
  padding: 12px 10px;
  width: 100%;
}


.remove-btn {
  border-radius: 10px;
  border: 0;
  background-color: #8F9090;
  font-weight: 700;
  padding: 12px 10px;
  color: var(--white);
}

.add-another {
  border-radius: 10px;
  border: 0;
  background-color: var(--primary);
  font-weight: 700;
  padding: 12px 10px;
  color: var(--white);
}

.next-btn {
  border-radius: 10px;
  border: 0;
  background-color: var(--primary);
  font-weight: 700;
  padding: 12px 10px;
  color: var(--white);
}


.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Card Styling */
.person-card {
  flex: 1 1 400px;
  /* max-width: 400px; */
  max-width: 358px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  border-bottom: 2px solid var(--brown-btn);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.person-card:hover {
  transform: translateY(-5px);
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



/* Footer */

.card-footer {
  margin-top: 35px;
}

.card-footer span {
  font-size: 13px;
  color: gray;
}


.details-btn {
  background-color: #d6b263;
  color: #111;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.details-btn:hover {
  background-color: #c8a64f;
}

/* #detailsModal {
  max-width: 400px;
 margin: auto;
} */



#detailsModal .modal-content {
  max-width: 400px;
  border-radius: 20px;
  border: 0;
  border-bottom: 2px solid var(--brown-btn);
}

#detailsModal .modal-content span {
  font-size: 13px;
  color: gray;
}


/* history page style start  */

.custom-search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid var(--black);
}

.search-icon {
  font-size: 16px;
  margin-right: 8px;
  color: #555;
}

.custom-search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 0;
}

/* .all-waiver {
  color: var(--brown-btn);
  font-weight: 600;
  border-bottom: 2px solid var(--brown-btn);
  padding: 12px 10px;
} */

.phone-input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.phone-input-group select {
  flex-shrink: 0;
  width: 95px;
  min-width: 95px;
  padding: 0.5rem;
  border-radius: 8px;
  border: 0;
}

.phone-input-group input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .phone-input-group {
    flex-direction: column;
    align-items: stretch;
  }
  .phone-input-group select {
    width: 100%;
  }
}


.all-waiver {
  cursor: pointer;
  padding: 12px 10px;
  color: black;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.all-waiver.active-tab {
  color: var(--brown-btn);
  font-weight: 600;
  border-bottom: 2px solid var(--brown-btn);
}

.confirm {
  font-weight: 500;
}

.unconfirm {
  font-weight: 500;
}

.history-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.history-table th,
td {
  padding: 12px 10px;
  text-align: left;
  border: 0;
  font-weight: 500;
}

.history-table th {
  background-color: #f5f5f5;
  font-weight: bold;

}

.confirmed,
.unconfirmed,
.inaccurate {
  display: inline-block;
  text-align: center;
  min-width: 120px;
  /* or use fixed width if you prefer */
  border-radius: 10px;
  padding: 8px 10px;
}

.history-table .confirmed {
  color: #267309;
  background-color: #E7F7E1;
}

.history-table .unconfirmed {
  background-color: #fff3cd;
  color: #856404;
}

.history-table .inaccurate {
  background-color: #F9EDEB;
  color: #FF0000;
}



/* history page style end  */



/* Client profile style start  */
.client-profile {
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.hide-btn {
  border: 1px solid var(--light-green);
  color: var(--light-green);
  border-radius: 8px;
  padding: 5px 22px;
}

.client-profile p {
  color: var(--light-green);
}

.client-profile p span {
  font-weight: 600;
}


.client-profile .form-label {
  font-weight: 700;
}

/* Client profile style end  */


/* login page style start  */

.login-container {
  margin: 20px auto;
}


.login-container label {
  font-weight: 500;
}


.subtitle {
  margin: 10px auto;
  font-weight: 500;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: var(--primary);
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* Actions */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.actions a {
  text-decoration: none;
  color: var(--primary);
}

/* Sign Up */


.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

/* login page style end  */


.profile-dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}


.custom-search-box .form-control:focus {
  border: 0px;
}


.add-staff-input input {
  padding: 10px 12px;
}

.add-staff-input select {
  padding: 10px 12px;
}


/* feedback table start*/
#dt-search-1 {
  padding: 8px 12px !important;
  border-radius: 10px !important;
}
#dt-search-1:focus{
  outline: none;
}

.dt-input {
  padding: 8px 12px !important;
  border-radius: 10px !important;
  margin-right: 5px;
}

#feedbackTable th {
  border: 1px solid #F6F6F6;
}
/* feedback table end */


div.dt-container .dt-search input {
  border: 1px solid var(--black) !important;
}

div.dt-container .dt-search input:focus{
  outline: none;
}

div.dt-container .dt-input{
  border: 1px solid var(--black) !important;
}

.search-waiver input {
  border-radius: 12px;
  padding: 10px 12px;
  border: 1px solid var(--black) !important;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .person-card {
    flex: 1 1 45%;
  }

  .container-fluid.container-header {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .container-header .container {
    width: 100vw;
    /* full viewport width */
    padding: 0;
  }

  .container-header .container-fluid {
    width: 100vw;
    /* full viewport width */
    margin: 0;
    /* remove Bootstrap padding */
    padding: 0;
  }

  .header-mobile-view {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {


    div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell > * {
        margin: 0.5em 0;
    }




  #navbarNavDropdown {
    padding: 20px;
  }

  .nav-link.active {
    width: 40%;
    margin: auto;
  }

  .numbers {
    flex: 1 1 calc(30.333% - 1rem);
    max-width: calc(30.333% - 1rem);
  }

  .step-two {
    width: 100% !important;
    margin: auto;
    /* margin-top: 100px; */
  }

  .person-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .minor-section .btn {
    padding: 12px 15px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .back-btn a img {
    width: 22%;
  }

  .back-btn img {
    width: 22%;
  }


  .signature-section {
    margin: 5px auto 5px auto;
    width: 100% !important;
  }

  .signature-section canvas {
    width: 100% !important;
  }

  /* table responsive start */

  .info-table {
    width: 100%;
    overflow-x: auto;
  }

  .info-table table,
  .info-table tbody,
  .info-table tr,
  .info-table td {
    display: block;
    width: 100%;
  }


  .info-table tr {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }

  .info-table td {
    border: none !important;
    padding: 0.5rem 0;
  }

  .info-table table tr td input {
    border: 1px solid #e4dfdf;
  }

  .info-table td input,
  .info-table td label {
    width: 100% !important;
  }

  /* .info-table td input,
  .info-table td.custom-email-label label {
    width: 25% !important;
    border: 2px solid green;
  } */
  .info-table td.custom-email-label input[type="radio"] {
    width: 10% !important;
    margin-right: 5px;
  }

  .info-table td.custom-email-label label {
    margin: 0 !important;
  }

  /* table responsive end */


  .rule-images div {
    flex: 0 0 30%;
    /* Two items per row */
  }

  .rule-images h5 {
    font-size: 18px;
  }

  .confirmed,
  .unconfirmed,
  .inaccurate {
    padding: 7px;
  }


  .return-btn {
    padding: 10px;
    margin: 0;
    width: 90%;

  }



}


@media print {
  .no-print {
    display: none !important;
  }
}


/* home screen style end  */
@media screen and (min-width: 769px) and (max-width: 992px) {

  .return-btn {
    padding: 10px;
    text-align: center;
    width: 70%;
  }

  .container-header .container {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .nav-link.active {
    width: 30%;
    margin: auto;
  }

  #navbarNavDropdown {
    padding: 20px;
  }

  /* @media screen and (min-width: 768px) and (max-width: 992px) { */
  /* .numbers {
    flex: 1 1 calc(30.333% - 1rem);
    max-width: calc(30.333% - 1rem);
  }

  .step-two {
    width: 100% !important;
    margin: auto;
    margin-top: 100px;
  } */

  .step-two {
    width: 100%;
  }

  /* .back-btn {
    margin-top: 160px;
  } */


  .back-btn img {
    width: 24%;
  }

  .back-btn a {
    font-size: 14px;
  }

  .back-btn a img {
    width: 24%;
  }

  .signature-section {
    margin: 5px auto 5px auto;
    width: 80% !important;
  }

  .signature-section canvas {
    width: 100% !important;
  }

  /* .rule-images {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important; 
    gap: 1.5rem;
} */

  /* .rule-images img {
  width:50%
} */


  .rule-images div {
    flex: 0 0 30%;
    /* Two items per row */
  }

  .rule-images h5 {
    font-size: 18px;
  }

  .confirmed,
  .unconfirmed,
  .inaccurate {
    padding: 7px;
  }



}


/* 
@media (max-width: 768px) {

  .info-table {
  width: 100%;
  overflow-x: auto;
}
 .info-table table,
  .info-table tbody,
  .info-table tr,
  .info-table td {
    display: block;
    width: 100%;
  }


  .info-table tr {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }

  .info-table td {
    border: none !important;
    padding: 0.5rem 0;
  }

  .info-table table tr td input {
    border: 1px solid #e4dfdf;
}

  .info-table td input,
  .info-table td label {
    width: 100% !important;
  }

   .info-table td.custom-email-label input[type="radio"] {
  width: 10% !important;
  margin-right: 5px;
}

.info-table td.custom-email-label label {
  margin: 0 !important;
}

} */

@media (max-width: 480px) {

  .custom-search-mobile-view {
    width: 80% !important;
  }

  div.dt-container div.dt-layout-row:not(.dt-layout-table) {
        display: flex !important;
    }

  .dt-search label {
    display: none;
  }

  .dt-length label {
    display: none;
  }

  .all-waiver {
    padding: 12px 5px;
    font-size: 15px;
    width: 80%;
  }

  .h3-heading  {
    font-size: 20px !important;
  }


  .numbers {
    flex: 1 1 calc(30% - 1rem);
    /* 2 items per row on small screens */
    max-width: calc(37% - 1rem);
    padding: 10px;
    font-size: 18px;
  }

  .step-two {
    width: 100% !important;
    margin: auto;
    /* border: 2px solid red; */
  }

  .client-profile {
    padding: 10px;
  }


  .logo-img {
    width: 90%;
    padding-bottom: 10px;
  }

  .existing-customer {
    margin: 0 20px;
    padding: 12px 20px;
    width: 270px;
  }

  .new-waiver {
    margin: 0 20px;
    padding: 12px 20px;
    width: 270px;
  }

  .back-btn {
    text-align: start;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .back-btn a {
    font-size: 14px;
  }

  /* .back-btn a img {
    width: 7%;
  } */
  .back-btn img {
    width: 8%;
  }


  .step-two p {
    font-size: 12px;
    margin: 6px 0 30px 0;
  }

  .step-two H5 {
    font-size: 18px;
  }

  .custom-radio-wrapper h5 {
    font-size: 18px;
  }

  .custom-radio-wrapper {
    flex-wrap: wrap;
    gap: 8px;
  }

  .custom-radio-wrapper label {
    margin: 0 !important;
    padding: 0px 15px 0 0;
  }

  .minor-group {
    display: flex;
    gap: 20px !important;
    flex-wrap: wrap;
    margin-bottom: 20px !important;
  }

  .custom-checkbox-label h5 {
    font-size: 18px;
  }

  .custom-checkbox-wrapper {
    margin: 0;
  }

  .minor-section .buttons {
    gap: 10px;
  }

  .minor-section .btn {
    padding: 10px 15px;
    font-size: 13px;
    width: auto !important;
    margin-bottom: 5px;
  }


  .signature-section {
    margin: 5px auto 5px auto;
    width: 100% !important;
  }

  .signature-section canvas {
    width: 100% !important;
  }

  .rule-images div {
    flex: 0 0 100%;
    /* Two items per row */
  }

  .rule-images h5 {
    font-size: 18px;
  }

  .confirm-btn {
    width: 30%;
  }


  .custom-search-box {
    width: 200px;
    padding: 8px 12px;
  }

  .search-minors {
    width: 70%;
  }

  .return-btn {
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .info-table tr td br {
    display: none;
  }

  .info-table tr td span {
    padding-left: 10px;
  }

}

@media (max-width: 350px) {

div.dt-container div.dt-layout-row:not(.dt-layout-table) {
        display: flex !important;
    }
    
  .dt-search label {
    display: none;
     
  }

 .dt-layout-cell.dt-layout-end {
    width: 73%;
}

  .dt-length label {
    display: none;
  }

  .custom-search-box {
    width: 60%;
    padding: 7px 10px;
  }


  .back-btn a {
    font-size: 10px;
  }

  .back-btn a img {
    width: 6%;
  }

  .step-two p {
    font-size: 10px;
    margin: 6px 0 25px 0;
  }

  .step-two H5 {
    font-size: 15px;
  }

  .minor-group {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px !important;
  }

  .custom-checkbox-label h5 {
    font-size: 16px;
  }

  .minor-section .btn {
    font-size: 12px;
  }

  .header-mobile-view {
    margin-right: 68px;
  }
}




.dropdown-menu::-webkit-scrollbar {
  display: none;
}


/* .dropdown-menu.show button .dropdown-item:hover {
  background-color: #ddd;
} */

.dropdown-toggle.show {
  /* border: 1px solid var(--black) !important;
  border-radius: 0; */

   border-top: 1px solid var(--bs-black, #000) !important;
  border-left: 1px solid var(--bs-black, #000)!important;
  border-bottom: 1px solid var(--bs-black, #000)!important;
  border-right: 0;
  border-radius: 0;
}

.dropdown-item {
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 8px 12px;
  font-size: 14px;
  border-bottom: 1px solid #2b2b2b30;
  transform: none; 
  margin: 0 !important;
}

.dropdown-item:hover {
  background-color: #625e5e3d !important; /* light gray */
  color: #000; /* text color on hover */
  transform: none; 
  margin: 0 !important;
}